@use '../utils/mixins' as *;

.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: 45%;
  margin-bottom: var(--space-16);

  @include on-tablet {
    margin-bottom: var(--space-30);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: var(--space-10);

    @include on-tablet {
      padding-bottom: var(--space-16);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: var(--c-white);

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }
}
