@use '../utils/mixins' as *;

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.main {
  display: grid;
  row-gap: 96px;
  margin-block: 64px;

  @include content-padding-inline;

  @include on-tablet {
    margin-block: 120px;
    row-gap: 120px;
  }
}

.recomended_products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 40px;

  @include on-tablet {
    row-gap: 56px;
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  &__image {
    background-color: #f9f9f9;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
